.app {
  height: 100vh;
  width: 100vw;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
}

.city__img {
  width: 100px;
}
