.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
}

.blue {
  background-color: aqua;
}

.red {
  background-color: red;
}